.slick-slide img {
    margin: auto;
    height: 22vh;
}

.slick-track {
    background-color: rgba(15, 144, 152, 0.41);
}

.info-box {
    background-color: rgba(23, 101, 106, 0.63);
    height: 45vh;
    width: 19vw;
    padding-top: 1vw;
}

.info-box p {
    color: #D0C3C3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25pt;
    padding-left: 0.4vw;
    padding-top: 1.5vh;
}

.details {
    margin-top: 55px;
}

.details #detail-left {
    display: inline-block;
    *display: inline;
    padding-left: 25px;
    vertical-align: top;
    width: 58vw;
}

#detail-left h1 {
    font-size: 40pt;
}

#detail-left p {
    font-size: 20pt;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
}

.details #detail-right {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    justify-items: center;
}

.apadrinhar {
    background-color: rgba(207, 127, 8);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-top: 10px;
    width: 19vw;
}

.selected {
    border-color: black;
    border-radius: 4px;
    border-style: solid;
}